<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/4.8/phpunit.xsd"
    bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="All tests">
            <directory>./tests/test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
